.slider{
	margin: 0;
	padding: 0;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}


#Contenedor {
	margin: 0 auto;
	background-color: #02010a;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-family: "Dancing Script";
	width: 80%;
	margin-left: 5%;
	font-size: 1em;
}

.Encabezado {
	margin: 0 auto;
	background-color: #5b7989;
	padding: 20px;
	border-radius: 10px 10px 0px 0px;
	text-align: left;
	text-shadow: 1px 2px 3px #02010a;
	color: white;
	width: 80%;
	margin-left: 90px;
	margin-right: 90px;
}

#Encabezado h1 {
	font-size: 1.5em;
}

.nav-contenedor{
	width: 100%
}

.nav-menu{
	width: 98%;
	max-width: 300px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.nav-menu .nav-columna{
	width: calc(100% /3);
	text-align: right;
}

.nav-menu .nav-columna a{
	font-size: 24px;
	color: white;
	margin-bottom: 2px;
	display: inline-block;
	margin-left: 1px;

}

.nav-menu .nav-columna a:hover{
	color: red;
}

#resumen {
	background-color: #669999;
  padding-top: 10px;
  padding-bottom: 10px;
	text-align: center;
	margin-left: 90px;
	margin-right: 90px;
}

#contenido{
	margin: 0%;
	text-align: center;
}

#Dosfotos h3{
	font-size: 2em;
}

#Dosfotos {
  background-color: #F7D988;
	text-align: center;
	margin-left: 90px;
	margin-right: 90px;
	display: flex;
	flex-direction: row;

}

#Dosfotos > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}

.contenedor-fotos{
	background-color: #F7D988;
	text-align: center;
	margin-left: 90px;
	margin-right: 90px;
}

.contenedor-fotos .fotosarriba{
	display: flex;
	flex-direction: row;

}

.contenedor-fotos .fotosarriba .imagen1{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosarriba .imagen2{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosarriba .imagen3{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosarriba .imagen1 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
.contenedor-fotos .fotosarriba .imagen2 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
.contenedor-fotos .fotosarriba .imagen3 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}

.contenedor-fotos .fotosabajo{
	display: flex;
	flex-direction: row;

}

.contenedor-fotos .fotosabajo .imagen1{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosabajo .imagen2{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosabajo .imagen3{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosabajo .imagen1 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
.contenedor-fotos .fotosabajo .imagen2 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
.contenedor-fotos .fotosabajo .imagen3 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}


#PiePagina {
	background-color: #C6d5c5;
	margin: 0 auto;
	padding: 10px;
	text-align: justify;
	color: black;
	margin-left: 90px;
	margin-right: 90px;
	border-radius: 0px 0px 10px 10px;

	}
	.piepagina-contenedor{
		width: 100%
		color: black;
	}

	.piepagina-menu{
		width: 100%;
		max-width: 1000px;
		margin: auto;
		padding: 2px 0;
		display: flex;
		flex-wrap: wrap;
	}

	.piepagina-menu .footer-columna{
		width: calc(100% /4);
		text-align: justify;
	}
	.piepagina-menu .footer-columna h3{
		font-size: 16px;
		color: black;
		margin-bottom: 20px;
	}

	.piepagina-menu .footer-columna span p{
		font-family: "Dancing Script";
		display: inline-block;
		margin-top: 0px;
		margin-left: 5px;
		margin-bottom: 15px;
		font-size: 12px;
	}

#imagen1 img{
	border: 2px solid black;
	width: 50%;
	text-shadow: 2px 2px 2px #02010a;
}


#imagen2 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
#imagen3 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}


#imagen2 img:hover {
	-moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
   transform: rotate(10deg);
}

#imagen3 img{
	transition-property: width;
	transition-duration: 0.5s;
}

#imagen3 img:hover{
	width: 60%;
}
.contenedor-fotos .fotosarriba .imagen1 img{
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}
.contenedor-fotos .fotosarriba .imagen2 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}
.contenedor-fotos .fotosarriba .imagen3 img{
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}
.contenedor-fotos .fotosabajo .imagen1 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}
.contenedor-fotos .fotosabajo .imagen2 img{
}
.contenedor-fotos .fotosabajo .imagen3 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}


@media (min-width: 600px) {
	.slider {
		width: 25%;
	}

	.nav-contenedor {
		width: 75%;
	}

}

@media (min-width: 800px) {
	.slider {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

@keyframes animacion {
	0% {
		position: relative;
		margin-top: 150%;
	}
	60% {
		position: relative;
		margin-top: -5%;
	}
	100% {
		position: relative;
		margin-top: 0%;
}
}

.slider {
	animation-name: animacion;
	animation-duration: 2s;
}
