#Contenedor{
	margin: 0 auto;
	width: 900px;
	background: #02010a;
	text-rendering: optimizeLegibility;

}
#Encabezado{
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px 10px 0px 0px;
	text-align: left;
	background-color: #5b7989;
	text-shadow: 2px 2px 2px #02010a;
	color: white;
	font-family: "Dancing Script";
	font-size: 12px;
	margin-left: 90px;
	margin-right: 90px;
}
#menu-principal ul {
	list-style: none;
	margin: 0;
	padding: 0;

}
#menu-principal ul li a {
	display: inline;
	width: 120px;
	height: 30px;
	margin-left: 80px;
	float: left;
	text-align: justify;
	line-height: 0px;
	font-size: 20px;
	color: white;
	text-decoration: none;

}
#menu-principal ul li a:hover{
	color: black;
}

#banner {
	background-color: #669999;
	text-align: center;
	margin-left: 90px;
	margin-right: 90px;
}

#imagen1 img{
	border: 2px solid black;
	width: 50%;
	text-shadow: 2px 2px 2px #02010a;
}

#Dosfotos {
  background-color: #F7D988;
	text-align: center;
	margin-left: 90px;
	margin-right: 90px;
	display: flex;
	flex-direction: row;

}

#Dosfotos > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}

#PiePagina {
	padding: 30px;
	background-color: #C6d5c5;
	margin-left: 90px;
	margin-right: 90px;
}

.adaptativa-porcentaje{
	width:100%;
}
