body {
	background-color: #02010a;
}
/*Poner estilo al Encabezado del programa */

header
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	background-color: #5b7989;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
	font-family: "Dancing Script";
	text-shadow: 2px 2px 2px #02010a;
}
/* Ajusta el estilo del menu en la web */
.menu li{
  width: 180px;
	list-style: none;
	float: left;

}

.menu a{
	color: white;
	text-decoration: none;
	font-size: 30px;
	float: right;
}

.menu a:hover{
		background-color: #356AA0;
}
/*Espacio entre el encabezado y columnas */

#Columas
{
	margin-left: 10%;
	margin-right: 10%;

}

article
{
	box-sizing: border-box;
	float:left;
	padding: 1%;
	text-align: center;
}
/*Imagen Central en esta sección color del bloque*/
	#columna1
	{
	background-color: #82c3a6;
	width: 100%;
	text-align: center;
	height: 100%;
	}
	#columna1 img{
		border: 2px solid black;
		width: 90%;
		text-shadow: 2px 2px 2px #02010a;
		padding: 10px 10px 10px 40px;

	}

	/*Imagen secundaria en esta sección color del bloque*/

	#columna2
	{
	background-color: #d5c75f;
	width: 50%;
	}
	#columna2 img{
		border: 2px solid black;
		width: 100%;
		text-shadow: 2px 2px 2px #82c3a6;

	}

	#columna3
	{
	background-color: #d5c75f;
	width: 50%;
	}

	#columna3 img{
		border: 2px solid black;
		width: 100%;
		text-shadow: 2px 2px 2px #82c3a6;
	}

	/*Rotacion de la imagen paisajes*/

	#columna2 img:hover {
		-moz-transform: rotate(10deg);
	  -o-transform: rotate(10deg);
	  -webkit-transform: rotate(10deg);
	   transform: rotate(10deg);
	}
	/*traslacion de la imagen retratos*/

	#columna3 img{
		transition-property: width;
		transition-duration: 0.5s;
	}

	#columna3 img:hover{
		transform: translateY(-5px);
		transform: translateX(20px);
		text-shadow: 2px 2px 2px #82c3a6;
		border: 2px;
	}

	/*Poner estilo al bloque del pie de pagina */

	footer {
		background-color: #C6d5c5;
		margin: 0 auto;
		padding: 10px;
		text-align: justify;
		color: black;
		margin-left: 10%;
		margin-right: 10%;
		border-radius: 0px 0px 10px 10px;
		}

	.piepagina-contenedor{
			width: 100%
			color: black;
	}

	.piepagina-menu{
			width: 100%;
			max-width: 1000px;
			margin: auto;
			padding: 2px 0;
			display: flex;
			flex-wrap: wrap;
	}

	.piepagina-menu .footer-columna{
			width: calc(100% /4);
			text-align: justify;
			display: inline-block;
			font-size: 16px;

	}

	.piepagina-menu .footer-columna h3{
   		text-align: left;
			color: black;
			margin-bottom: 20px;
	}

	.piepagina-menu .footer-columna span{
 			text-align: left;
			color: black;
		}

	.piepagina-menu .footer-columna li{
	  width: 180px;
		list-style: none;
		float: left;

	}

	.piepagina-menu .footer-columna a{
		text-decoration: none;
	}

	/* FIN estilo al bloque del pie de pagina */


	@media all and (max-width: 640px) {

	 body, #Cabecera, #Columnas, #PiePagina {
		-webkit-flex-flow: column;
						flex-flow: column;
	 }

	 #main > article, #main > nav, #main > aside {
		/* Return them to document order */
		-webkit-order: 0;
						order: 0;
	 }


	}
