/*Poner estilo al cuerpo del programa */
.Contenedor {
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 20px;
		color: white;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		background-color: #02010a;
		font-family: "Dancing Script";
}


/*Poner estilo al Encabezado del programa */
.Encabezado {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	background-color: #5b7989;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
	text-shadow: 2px #02010a;
	color: white;
	margin-left: 10%;
	margin-right: 1%;
	font-size: 20px;
}
/* Ajusta el estilo del menu en la web */
.menu li{
  width: 100px;
	list-style: none;
	float: left;
}

.menu a{
	color: white;
	text-decoration: none;
	font-size: 30px;
	flex: 1;
	display: block;
}

.menu a:hover{
		background-color: #356AA0;
}

/*Poner estilo al bloque del una imagen */



#resumen {
	background-color: #669999;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
	text-align: center;
}
/*Poner estilo al bloque del dos imagen */

#Dosfotos {
  background-color: #F7D988;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}



/* INICIO animacion del las paginas*/

.Contenedor {
	animation-name: animacion;
	animation-duration: 2s;
}
/* FIN animacion del las paginas*/

/* INICIO ajuste de las paginas */
/* Desktop y laptop */


li>a {
	line-height: 60px;
	font-size: 16px;
}
}

/* INICIO ajuste de las paginas */

#imagen1 img{
	border: 2px solid black;
	width: 50%;
	text-shadow: 2px 2px 2px #02010a;
}


#imagen2 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
#imagen3 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}


#imagen2 img:hover {
	-moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
   transform: rotate(10deg);
}

#imagen3 img{
	transition-property: width;
	transition-duration: 0.5s;
}

#imagen3 img:hover{
	width: 60%;
}

.contenedor-fotos{
	background-color: #F7D988;
	text-align: center;
	margin-left: 90px;
	margin-right: 90px;
}

.contenedor-fotos .fotosarriba{
	display: flex;
	flex-direction: row;

}

.contenedor-fotos .fotosarriba .imagen1{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosarriba .imagen2{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosarriba .imagen3{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosarriba .imagen1 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
.contenedor-fotos .fotosarriba .imagen2 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
.contenedor-fotos .fotosarriba .imagen3 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}

.contenedor-fotos .fotosabajo{
	display: flex;
	flex-direction: row;

}

.contenedor-fotos .fotosabajo .imagen1{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosabajo .imagen2{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosabajo .imagen3{
	padding: 10px;
	margin: 10px;
	width: 80%;
}
.contenedor-fotos .fotosabajo .imagen1 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
.contenedor-fotos .fotosabajo .imagen2 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}
.contenedor-fotos .fotosabajo .imagen3 img{
	border: 2px solid black;
	width: 80%;
	text-shadow: 2px 2px 2px #02010a;
}




#contenido{
	margin: 0%;
	text-align: center;
}

#Dosfotos h3{
	font-size: 2em;
}

}

#Dosfotos > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}



======================================================
=======================================================

/*Poner estilo al cuerpo del programa */
body{
	color: white;
	background-color: #02010a;
	font-family: "Dancing Script";
	font-size: 16px;
	font-family: sans-serif;
	display: block;
}

/*Poner estilo al Encabezado del programa */

header
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	height: 1em;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background-color: grey;
	color:white;
	padding-left: 260;
	padding-right: 360;
}


/* Ajusta el estilo del menu en la web */
.menu li{
  width: 180px;
	list-style: none;
	float: left;

}

.menu a{
	color: white;
	text-decoration: none;
	font-size: 50px;
}

.menu a:hover{
		background-color: #356AA0;
}

#Columas
{
	width: 960px;
	margin: 0 auto;
}

article
{
	box-sizing: border-box;
	float:left;
	height: 100%;
	background-color: grey;
	padding: 2%;
	text-align: center;
	height: 400px;
}

	#columna1
	{
	background-color: #91C9E8;
	width: 100%;

	}
	#columna2
	{
	background-color: #D1D1D1;
	width: 50%;
	}
	#columna3
	{
	background-color: #3399CC;
	width: 50%;
	}


@media screen and (max-width: 900px){

			#Columas
				{
					width: 100%;
					margin: 0 auto;
				}
				#columna1
				{
				width: 100%;
				}
				#columna2
				{
				width: 100%;
				}
				#columna3
				{
				width: 100%;
				}

				header
				{
				width:100%;
				}
}


/*Poner ajuste de acuerdo si es desktop o movil*/

/* Desktop y laptop */



==========================================
==========================================

body {
 font: 24px Helvetica;
 background: #999999;
}

#main {
 min-height: 800px;
 margin: 0px;
 padding: 0px;
 display: -webkit-flex;
 display:         flex;
 -webkit-flex-flow: row;
				 flex-flow: row;
				 flex-flow: row wrap;

 }

#main > article {
 margin: 4px;
 padding: 5px;
 border: 1px solid #cccc33;
 border-radius: 7pt;
 background: #dddd88;
 -webkit-flex: 3 1 60%;
				 flex: 3 1 60%;
 -webkit-order: 2;
				 order: 2;
 }

#main > nav {
 margin: 4px;
 padding: 5px;
 border: 1px solid #8888bb;
 border-radius: 7pt;
 background: #ccccff;
 -webkit-flex: 1 6 20%;
				 flex: 1 6 20%;
 -webkit-order: 1;
				 order: 1;
 }

#main > aside {
 margin: 4px;
 padding: 5px;
 border: 1px solid #8888bb;
 border-radius: 7pt;
 background: #ccccff;
 -webkit-flex: 1 6 20%;
				 flex: 1 6 20%;
 -webkit-order: 3;
				 order: 3;
 }

header, footer {
 display: block;
 margin: 4px;
 padding: 5px;
 min-height: 100px;
 border: 1px solid #eebb55;
 border-radius: 7pt;
 background: #ffeebb;
 }

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main, #page {
	-webkit-flex-flow: column;
					flex-flow: column;
 }

 #main > article, #main > nav, #main > aside {
	/* Return them to document order */
	-webkit-order: 0;
					order: 0;
 }


}
